<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="EmbeddedJms" class="org.apache.activemq.integration.spring.SpringJmsBootstrap" init-method="start">
       <property name="configResourcePath" value="spring-hornetq-config.xml"/>
       <property name="jmsConfigResourcePath" value="spring-hornetq-jms.xml"/>
   </bean>

    <bean id="listener" class="org.apache.activemq.tests.integration.spring.ExampleListener"/>
    
    <bean id="MessageSender" class="org.apache.activemq.tests.integration.spring.MessageSender">
        <property name="connectionFactory" ref="ConnectionFactory"/>
        <property name="destination" ref="/queue/exampleQueue"/>
    </bean>

    <bean id="listenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="ConnectionFactory"/>
        <property name="destination" ref="/queue/exampleQueue"/>
        <property name="messageListener" ref="listener"/>
    </bean>
    

</beans>
    